<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>快速开发框架1</display-name>
	<description>
		Struts1.2+spring2.5+hibernate3.3
		
		亮点:
		
		1,前台展示使用displaytag标签
		
		2,用spring集中管理
		
		3,使用hibernate annotation实现'0'配置,主要用于实体的注解
		
		4,使用jsvalidate进行前台校验
		
		5,使用pjl进行传输压缩 
	</description>
	<!-- Spring配置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/config/applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<!-- log4j配置 -->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/config/log4j.properties</param-value>
	</context-param>
	<listener>
		<listener-class>
			org.springframework.web.util.Log4jConfigListener
		</listener-class>
	</listener>

	<!-- 过滤器 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.peigen.ssh.commons.SetEncodeFilter</filter-class>
		<init-param>
			<param-name>defaultencoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CompressingFilter</filter-name>
		<filter-class>
			com.planetj.servlet.filter.compression.CompressingFilter
		</filter-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>statsEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CompressingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Servlet -->
	<!-- Struts1.2 Servlet -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>
				/WEB-INF/config/struts/test-struts-config.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>nocache</param-name>
			<param-value>yes</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<!-- 验证码Servlet -->
	<servlet>
		<servlet-name>valid_img</servlet-name>
		<servlet-class>org.peigen.ssh.commons.create_validate_img</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>valid_img</servlet-name>
		<url-pattern>/valid_img</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error.jsp</location>
	</error-page>


	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>MessageResources</param-value>
	</context-param>

</web-app>

